/**********************/
/* General */

@import "colours";

html,
body {
	margin: 0;
	padding: 0;
    font-family: 'PT Sans', sans-serif;
    a {
        color: $black;
    }
    header {
        background-color: $headerbg;
        -webkit-box-shadow: 0px 2px 2px 0px rgba(208,208,208,1);
        -moz-box-shadow: 0px 2px 2px 0px rgba(208,208,208,1);
        box-shadow: 0px 2px 2px 0px rgba(208,208,208,1);
        height: 6vh;
    }
    main {
        height: 94vh;
        .container {
            margin: 0;
            max-width: 100%;
            .left-container {
                padding-top: 2vh;
                padding-left: 5rem;
                padding-right: 5rem;
                height: 94vh;
                position: relative;
                .backlink {
                    position: relative;
                    left: -2rem;
                }
                form {
                    .otherlogins {
                        margin-top: 3rem;
                    }
                    input {
                        background-color: $inputs;
                        margin: 2vh 0;
                        border: 0;
                    }
                    .btn-block {
                        font-size: inherit;
                        background-color: $button;
                        border-color: $button;
                        max-width: 7rem;
                        &.btn-other {
                            background-color: $white;
                            border-color: $white;
                            max-width: 100%;
                            &.btn-other-google {
                                border-color: #3d81f7;
                                color: #3e82f7;
                            }
                            &.btn-other-facebook {
                                border-color: #3a5897;
                                color: #3b5998;
                            }
                        }
                        img {
                            margin-right: 0.4rem;
                        }
                    }
                }
                .signup {
                    position: absolute;
                    bottom: 1rem;
                }
            }
            .right-container {
                background-color: #efeaf4;
                padding-top: 2vh;
                height: 94vh;
                position: relative;
                .right-content {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    min-width: 50vw;
                }
                img {
                    width: 60%;
                }
                h1 {
                    font-weight: bold;
                    font-size: 2rem;
                    margin: 2rem 0 0 0;
                }
            }
        }
    }
}

@import "mediaqueries";