$color__font: #000000 !default;
$color__heading: #000000 !default;
$color__background--header: #fafafa !default;
$color__background--header-sm: #ffffff !default;
$color__background--leftcontainer: #ffffff !default;
$color__background--rightcontainer: #C10000 !default;
$color__background--inputs: #efeaf4 !default;
$color__background--button: #603392 !default;
$color__background--button-other: #ffffff !default;
$color__background--button-signin-text: #ffffff !default;
$color__background--button-google-border: #3d81f7 !default;
$color__background--button-google-text: #3e82f7 !default;
$color__background--button-facebook-border: #3a5897 !default;
$color__background--button-facebook-text: #3b5998 !default;
$color__background--xsmain: #f6f6f6 !default;

$base__font-family: 'PT Sans', sans-serif !default;
$base__font-size: 1rem !default;

@import "modules/text";
@import "modules/header";
@import "modules/containers";
@import "modules/forms";
@import "modules/mediaqueries";