form {
    margin-top: 3rem;

    h1 {
        font-size: 1.4rem;
        font-weight: bold !important;
    }

    .otherlogins {
        margin-top: 4rem;
    }

    input {
        background-color: $color__background--inputs;
        margin: 2vh 0;
        border: 0;
    }
    
    .btn {
        display: block;
        width: 100%;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .5rem 1rem;
        border-radius: .3rem;
        transition: color .15s
            ease-in-out,background-color .15s
            ease-in-out,border-color .15s
            ease-in-out,box-shadow .15s
            ease-in-out;
    }

    .btn-block {
        font-size: inherit;
        background-color: $color__background--button;
        border-color: $color__background--button;
        max-width: 7rem;

        &.btn-other {
            background-color: $color__background--button-other;
            border-color: $color__background--button-other;
            max-width: 100%;

            &.btn-other-google {
                border-color: $color__background--button-google-border;
                color: $color__background--button-google-text;
            }

            &.btn-other-facebook {
                border-color: $color__background--button-facebook-border;
                color: $color__background--button-facebook-text;
            }
        }

        img {
            margin-right: 0.4rem;
        }
    }
}