header {
    background-color: $color__background--header;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(208,208,208,1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(208,208,208,1);
    box-shadow: 0px 2px 2px 0px rgba(208,208,208,1);
    height: 6vh;
    position: relative;
    z-index: 100;
}