@media (max-width: 480px) {
    header {
        background-color: $color__background--header-sm !important;
        -webkit-box-shadow: none !important;
	   -moz-box-shadow: none !important;
	   box-shadow: none !important;
    }
    main {
        background-color: $color__background--xsmain;
        .backlink {
            display: none;
        }
        .left-content {
            form {
                margin-top: 1rem !important;
                h1 {
                    margin-left: 0.5rem;
                }
                .btn-block {
                    max-width: inherit !important;
                }
                .otherlogins {
                    margin-top: 1rem !important;
                }
                a {
                    &.prplink {
                        margin-left: 0.7rem;
                    }
                }
            }
            p {
                margin-left: 0.7rem;
            }
        }
    }
}

@media (max-width: 980px) {
    .left-content {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        h1 {
            font-size: 1.2rem !important;
        }
    }
    .backlink {
        left: 0 !important;
    }
    input {
        width: calc(100% - 1.5rem) !important;
    }
}